.review{ border: 1px solid rgb(112, 218, 160);color: blueviolet;}
.Tableofcontent{ color: rgb(255, 0, 179);}
#development{color:rgb(53, 57, 70);}
.div {color:rgb(60, 190, 20)}
.timeline{color: rgb(97, 68, 68);
}
.table{background-color: rgb(238, 215, 157);

}
.tableheading{ color: brown;}
.community{
   color: rgb(30, 20, 90); 
}
.GameBros{ border: 0.1px solid;  background-color: rgb(43, 205, 226);

}
.chatmi { border: 1px solid burlywood; color: rgb(132, 204, 223); border-color: brown; background-color: rgb(194, 31, 66);

}
.chatservice{ color: rgba(170, 10, 10, 0.747);

}
.chatsintro{
   color: blueviolet;
}
.VH{ color: mediumslateblue;

}
.copy{
   text-align: center;
}
.left{
   text-align: right;
}